interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://clinicaltrials.gov/api/v2/studies?format=json&pageSize=2&query.term=rapamycin+healthspan
  response:
    body:
      string: "{\"studies\":[\n{\"protocolSection\":{\"identificationModule\":{\"nctId\":\"NCT07475546\",\"orgStudyIdInfo\":{\"id\":\"ALRx011\"},\"organization\":{\"fullName\":\"AgelessRx\",\"class\":\"INDUSTRY\"},\"briefTitle\":\"Combination
        Gerotherapeutic Interventions for Healthspan Improvement\",\"officialTitle\":\"A
        Pilot Randomized Controlled Study of Combinatorial Gerotherapeutics for Healthspan
        Improvement\"},\"statusModule\":{\"statusVerifiedDate\":\"2026-03\",\"overallStatus\":\"ACTIVE_NOT_RECRUITING\",\"expandedAccessInfo\":{\"hasExpandedAccess\":false},\"startDateStruct\":{\"date\":\"2025-07-23\",\"type\":\"ACTUAL\"},\"primaryCompletionDateStruct\":{\"date\":\"2026-04\",\"type\":\"ESTIMATED\"},\"completionDateStruct\":{\"date\":\"2026-04\",\"type\":\"ESTIMATED\"},\"studyFirstSubmitDate\":\"2026-02-02\",\"studyFirstSubmitQcDate\":\"2026-03-11\",\"studyFirstPostDateStruct\":{\"date\":\"2026-03-16\",\"type\":\"ACTUAL\"},\"lastUpdateSubmitDate\":\"2026-03-11\",\"lastUpdatePostDateStruct\":{\"date\":\"2026-03-16\",\"type\":\"ACTUAL\"}},\"sponsorCollaboratorsModule\":{\"responsibleParty\":{\"type\":\"SPONSOR\"},\"leadSponsor\":{\"name\":\"AgelessRx\",\"class\":\"INDUSTRY\"}},\"oversightModule\":{\"oversightHasDmc\":false,\"isFdaRegulatedDrug\":true,\"isFdaRegulatedDevice\":false,\"isUsExport\":false},\"descriptionModule\":{\"briefSummary\":\"This
        study is a 90-day interventional, randomized, controlled pilot trial exploring
        multi-modal gerotherapies and their impact on longevity-related outcomes.
        In this proof-of-concept phase, a small sample size of up to 30 subjects (10
        subjects in each arm) will be randomized into one of the three arms: 1) Control,
        2) Multi-therapy (B12, Naltrexone, Metformin, and NAD+), or 4) Comprehensive
        Therapy (Rapamycin, Naltrexone, Metformin, B12, NAD+, GSH, and Infinite Supplement).\",\"detailedDescription\":\"The
        two main study objectives are 1) To evaluate the impact of different combinations
        of gerotherapeutics on measures of muscle, cognitive, and immune function,
        \\\\& 2) To assess the impact of the combinatorial gerotherapeutics on sleep
        measures, perceived quality of life, and longevity biomarkers. Potential subjects
        will be recruited utilizing email and social media-based methods. They will
        be screened for eligibility and enrolled in the study [...]
