interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://clinicaltrials.gov/api/v2/studies/NCT04566393?format=json
  response:
    body:
      string: "{\"protocolSection\":{\"identificationModule\":{\"nctId\":\"NCT04566393\",\"orgStudyIdInfo\":{\"id\":\"ULI-EAP-100\"},\"organization\":{\"fullName\":\"xCures\",\"class\":\"INDUSTRY\"},\"briefTitle\":\"Expanded
        Access to Ulixertinib (BVD-523) in Patients With Advanced MAPK Pathway-Altered
        Malignancies\",\"officialTitle\":\"Expanded Access to Ulixertinib (BVD-523)
        in Patients With Advanced MAPK Pathway-Altered Malignancies\"},\"statusModule\":{\"statusVerifiedDate\":\"2026-01\",\"overallStatus\":\"AVAILABLE\",\"expandedAccessInfo\":{\"hasExpandedAccess\":false},\"studyFirstSubmitDate\":\"2020-09-17\",\"studyFirstSubmitQcDate\":\"2020-09-21\",\"studyFirstPostDateStruct\":{\"date\":\"2020-09-28\",\"type\":\"ACTUAL\"},\"lastUpdateSubmitDate\":\"2026-01-26\",\"lastUpdatePostDateStruct\":{\"date\":\"2026-01-28\",\"type\":\"ACTUAL\"}},\"sponsorCollaboratorsModule\":{\"responsibleParty\":{\"type\":\"SPONSOR\"},\"leadSponsor\":{\"name\":\"xCures\",\"class\":\"INDUSTRY\"},\"collaborators\":[{\"name\":\"Cancer
        Commons\",\"class\":\"OTHER\"}]},\"descriptionModule\":{\"briefSummary\":\"The
        objective of this expanded access program is to provide ulixertinib (BVD-523)
        for compassionate use in advanced cancer patients with MAPK pathway-altered
        solid tumor(s), including but not limited to KRAS, NRAS, HRAS, BRAF, MEK,
        and ERK mutations who have incomplete response to or have exhausted available
        therapies.\\n\\nUlixertinib is available for treatment as monotherapy or in
        combination with other clinically tolerable agent(s), conditionally approved
        by the drug manufacturer.\"},\"conditionsModule\":{\"conditions\":[\"Pancreatic
        Cancer\",\"Small Bowel Cancer\",\"Colorectal Cancer\",\"Melanoma\",\"Non Small
        Cell Lung Cancer\",\"Thyroid Cancer\",\"Bladder Cancer\",\"Head and Neck Cancer\",\"Gastric
        Cancer\",\"Esophageal Cancer\",\"Cholangiocarcinoma\",\"Ovarian Cancer\",\"Hepatocellular
        Carcinoma\",\"Glioblastoma\",\"MAPK Gene Mutation\",\"KRAS Activating Mutation\",\"BRAF
        Gene Mutation\",\"NRAS Gene Mutation\",\"HRAS Gene Mutation\",\"MEK Mutation\",\"ERK
        Mutation\"]},\"designModule\":{\"studyType\":\"EXPANDED_ACCESS\",\"nPtrsToThisExpAccNctId\":1,\"expandedAccessTypes\":{\"intermediate\":true}},\"armsInterventionsModule\":{\"interventions\":[{\"type\":\"DRUG\",\"name\":\"Ulixertinib
        (BVD-523)\",\"description\":\"Ulixertinib (BVD-523) is an oral, first-in-class
        ERK1/2 inhibitor\"}]},\"eligibilityModule\":{\"eligibilityCriteria\":\"Inclusion
        Criteria:\\n\\n* Main Inclusion Criterion:\\n\\n  1\\\\. Patient has a MAPK
        pathway-altered solid tumor(s), including but not limited to KRAS, NRAS, HRAS,
        BRAF, MEK, and ERK mutations.\\n* Other Inclusion Criteria:\\n\\n  1. In the
        opinion of the treating physician, the patient has exhausted or has inadequate
        response to available anti-cancer treatments.\\n  2. In the opinion of the
        treating physician, the patient has adequate organ function to tolerate ulixertinib[...]
