interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en-us\" class=\"cdc-2022 theme-blue
        cdc-root-home home-2022 cdc-page-type-2022home cdc-tp5\" >\r\n<head>\r\n\t<title>Page
        Not Found | CDC</title>\r\n\t<meta name=\"description\" content=\"Page Not
        Found | CDC\" />\r\n\t<meta name=\"date\" content=\"2024-05-02T11:44:27.140Z\">\r\n\r\n\t<meta
        charset=\"UTF-8\" />\r\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\"
        />\r\n\t<meta content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"
        name=\"viewport\" />\r\n\t<meta name=\"mobile-web-app-capable\" content=\"yes\"
        />\r\n\t<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\r\n\t<link
        rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/TemplatePackage/5.0/img/favicon/apple-touch-icon.png\">\r\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/TemplatePackage/5.0/img/favicon/favicon-32x32.png\">\r\n\t<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/TemplatePackage/5.0/img/favicon/favicon-16x16.png\">\r\n\t<link
        rel=\"mask-icon\" href=\"/TemplatePackage/5.0/img/favicon/safari-pinned-tab.svg\"
        color=\"#0056b3\">\r\n\t<meta name=\"msapplication-TileColor\" content=\"#0056b3\">\r\n\t<meta
        name=\"theme-color\" content=\"#0056b3\">\r\n\t<link rel=\"stylesheet prefetch\"
        href=\"/TemplatePackage/5.0/css/app.css?_=29125\" />\r\n\t<link rel=\"stylesheet\"
        media=\"print\" href=\"/TemplatePackage/5.0/css/print.css?_=29125\" />\r\n\t<link
        rel=\"manifest\" href=\"/TemplatePackage/5.0/json/manifest.json\">\r\n\t<script
        src=\"https://www.cdc.gov/JScript/dmat/cdc-dmat.min.js?account=cdcgov&pageview=false&_=55003\"></script>\r\n\t<meta
        property=\"cdc:template_version\" content=\"5.0\" />\r\n</head>\r\n<body class=\"no-js
        cdc-dfe-cdc_homepage\">\r\n\t<div id=\"skipmenu\">\r\n\t\t<a class=\"visually-hidden-focusable\"
        href=\"#content\">Skip directly to site content</a>\r\n\t\t<a class=\"visually-hidden-focusable\"
        href=\"#cdc-search\">Skip directly to search</a>\r\n\t</div>\r\n\r\n\t<div
        class=\"cdc-page-banner container noindex\">\r\n\t\t<div class=\"cdc-site-gov-notice
        noindex noprint\" aria-label=\"Official website of the United States government\">\r\n\t\t\t<div
        class=\"cdc-page-offset\">\r\n\t\t\t\t<div class=\"cdc-site-gov-notice__header\">\r\n\t\t\t\t\t<div>\r\n\t\t\t\t\t\t<img
        aria-hidden=\"true\" class=\"usa-banner__header-flag\" src=\"/TemplatePackage/5.0/img/uswds/us_flag_small.png\"
        alt=\"U.S. flag\" width=\"16\" height=\"11\">\r\n\t\t\t\t\t\t<span>An official
        website of the United States government</span>\r\n\t\t\t\t\t</div>\r\n\t\t\t\t\t<span>\r\n\t\t\t\t\t\t<a
        data-bs-toggle=\"collapse\" href=\"#gov-notice\" role=\"button\" aria-expanded=\"false\"
        aria-controls=\"gov-notice\">\r\n\t\t\t\t\t\t\tHere's how you know\r\n\t\t\t\t\t\t\t<span
        class=\"cdc-fa-angle-down\" aria-hidden=\"true\"></span>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</span>\r\n\t\t\t\t</div>\r\n\t\t\t\t<div
        class=\"collapse\" id=\"gov-notice\" aria-hidden=\"true\">\r\n\t\t\t\t\t<div
        class=\"row\">\r\n\t\t\t\t\t\t<div class=\"col-12 col-lg-6\">\r\n\t\t\t\t\t\t\t<img
        src=\"/TemplatePackage/5.0/img/uswds/icon-dot-gov.svg\" alt=\"\" aria-hidden=\"true\">\r\n\t\t\t\t\t\t\t<div>\r\n\t\t\t\t\t\t\t\t<b>Official
        websites use .gov</b>\r\n\t\t\t\t\t\t\t\t<p>A .gov website belongs to an official
        government organization in the United States.</p>\r\n\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t<div
        class=\"col-12 col-lg-6\">\r\n\t\t\t\t\t\t\t<img src=\"/TemplatePackage/5.0/img/uswds/icon-https.svg\"
        alt=\"\" aria-hidden=\"true\">\r\n\t\t\t\t\t\t\t<div>\r\n\t\t\t\t\t\t\t\t<b>Secure
        .gov websites use HTTPS</b>\r\n\t\t\t\t\t\t\t\t<p>A <strong>lock</strong>
        ( <i class=\"cdc-icon-lock-01\" aria-hidden=\"true\"></i> ) or <strong>https://</strong>
        means you've safely connected to the .gov website. Share sensitive information
        only on official, secure websites.</p>\r\n\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t</div>\r\n\t\t\t\t</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t\t<div
        data-cdc-site-alert></div>\r\n\t</div>\r\n\t<header class=\"container cdc-header
        noindex\" role=\"banner\">\r\n\t\t<!-- TP5 SSI: site_header -->\r\n\t\t<!--
        logo, menu, search -->\r\n\t\t<div class=\"cdc-header__desktop\">\r\n\t\t\t<div
        class=\"cdc-page-offset\">\r\n\t\t\t\t<div class=\"cdc-header__cdc-logo\">\r\n\t\t\t\t\t<a
        href=\"/\">\r\n\t\t\t\t\t\t<img src=\"/TemplatePackage/5.0/img/logo/logo-notext.svg\"
        alt=\"Centers for Disease Control and Prevention. CDC twenty four seven. Saving
        Lives, Pro[...]
