interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.fda.gov/drug/event.json?limit=2&search=patient.drug.medicinalproduct%3A%22METFORMIN%22
  response:
    body:
      string: "{\n  \"meta\": {\n    \"disclaimer\": \"Do not rely on openFDA to make
        decisions regarding medical care. While we make every effort to ensure that
        data is accurate, you should assume all results are unvalidated. We may limit
        or otherwise restrict your access to the API in line with our Terms of Service.\",\n
        \   \"terms\": \"https://open.fda.gov/terms/\",\n    \"license\": \"https://open.fda.gov/license/\",\n
        \   \"last_updated\": \"2026-04-28\",\n    \"results\": {\n      \"skip\":
        0,\n      \"limit\": 2,\n      \"total\": 425796\n    }\n  },\n  \"results\":
        [\n    {\n      \"safetyreportversion\": \"2\",\n      \"safetyreportid\":
        \"10003641\",\n      \"primarysourcecountry\": \"US\",\n      \"occurcountry\":
        \"US\",\n      \"transmissiondateformat\": \"102\",\n      \"transmissiondate\":
        \"20150720\",\n      \"reporttype\": \"1\",\n      \"serious\": \"2\",\n      \"receivedateformat\":
        \"102\",\n      \"receivedate\": \"20140312\",\n      \"receiptdateformat\":
        \"102\",\n      \"receiptdate\": \"20150312\",\n      \"fulfillexpeditecriteria\":
        \"2\",\n      \"companynumb\": \"US-ABBVIE-13P-163-1090373-00\",\n      \"duplicate\":
        \"1\",\n      \"reportduplicate\": {\n        \"duplicatesource\": \"ABBVIE\",\n
        \       \"duplicatenumb\": \"US-ABBVIE-13P-163-1090373-00\"\n      },\n      \"primarysource\":
        {\n        \"reportercountry\": \"US\",\n        \"qualification\": \"5\"\n
        \     },\n      \"sender\": {\n        \"sendertype\": \"2\",\n        \"senderorganization\":
        \"FDA-Public Use\"\n      },\n      \"receiver\": {\n        \"receivertype\":
        \"6\",\n        \"receiverorganization\": \"FDA\"\n      },\n      \"patient\":
        {\n        \"patientonsetage\": \"41\",\n        \"patientonsetageunit\":
        \"801\",\n        \"patientweight\": \"118.04\",\n        \"patientsex\":
        \"1\",\n        \"reaction\": [\n          {\n            \"reactionmeddraversionpt\":
        \"18.0\",\n            \"reactionmeddrapt\": \"Medication residue present\",\n
        \           \"reactionoutcome\": \"3\"\n          }\n        ],\n        \"drug\":
        [\n          {\n            \"drugcharacterization\": \"1\",\n            \"medicinalproduct\":
        \"DEPAKOTE\",\n            \"drugbatchnumb\": \"UNKNOWN\",\n            \"drugauthorizationnumb\":
        \"018723\",\n            \"drugseparatedosagenumb\": \"3\",\n            \"drugintervaldosageunitnumb\":
        \"1\",\n            \"drugintervaldosagedefinition\": \"804\",\n            \"drugdosagetext\":
        \"ONE IN AM AND  TWO IN  PM\",\n            \"drugadministrationroute\": \"048\",\n
        \           \"drugindication\": \"BIPOLAR DISORDER\",\n            \"actiondrug\":
        \"4\",\n            \"activesubstance\": {\n              \"activesubstancename\":
        \"DIVALPROEX SODIUM\"\n            },\n            \"openfda\": {\n              \"application_number\":
        [\n                \"NDA021168\",\n                \"NDA018723\",\n                \"NDA019680\"\n
        \             ],\n              \"brand_name\": [\n                \"DEPAKOTE
        ER\",\n                \"DEPAKOTE\",\n                \"DEPAKOTE SPRINKLES\"\n
        \             ],\n              \"generic_name\": [\n                \"DIVALPROEX
        SODIUM\"\n              ],\n              \"manufacturer_name\": [\n                \"AbbVie
        Inc.\"\n              ],\n              \"product_ndc\": [\n                \"0074-7401\",\n
        \               \"0074-3826\",\n                \"0074-7126\",\n                \"0074-7402\",\n
        \               \"0074-7325\",\n                \"0074-6212\",\n                \"0074-6214\",\n
        \               \"0074-6215\",\n                \"0074-7327\",\n                \"0074-7326\",\n
        \               \"0074-6114\"\n              ],\n              \"product_type\":
        [\n                \"HUMAN PRESCRIPTION DRUG\"\n              ],\n              \"route\":
        [\n                \"ORAL\"\n              ],\n              \"substance_name\":
        [\n                \"DIVALPROEX SODIUM\"\n              ],\n              \"rxcui\":
        [\n                \"1099563\",\n                \"1099565\",\n                \"1099569\",\n
        \               \"1099571\",\n                \"1099625\",\n                \"1099626\",\n
        \               \"1099678\",\n                \"1099679\",\n                \"1099870\",\n
        \               \"1099871\",\n                \"1099596\",\n                \"1099598\"\n
        \             ],\n              \"spl_id\": [\n                \"0ee65b66-ead3-44ef-911f-14965b067903\",\n
        \               \"7cc3a0b3-93f8-4825-88e1-bf6ddb0db23d\",\n                \"d038b7e9-b014-4771-93be-90aeeaece03d\"\n
        \             ],\n              \"spl_set_id\": [\n                \"0dc024ce-efc8-4690-7cb5-639c728fccac\",\n
        \               \"08a65cf4-7749-4ceb-6895-8f4805e2b01f\",\n                \"4619aff4-0f80-444f-858d-42e4137aa809\"\n
        \             ],\n              \"package_ndc\": [\n                \"0074-3826-13\",\n
        \               \"0074-3826-11\",\n                \"0074-7401-13\",\n                \"0074-7126-13\",\n
        \               \"0074-7126-53\",\n                \"0074-7126-11\",\n                \"0074-7126-72\",\n
        \               \"0074-7402-13\",\n                \"0074-6212-13\",\n                \"0074-6214-13\",\n
        \               \"0074-6214-53\",\n                \"0074-6215-13\",\n                \"0074-6215-53\",\n
        \               \"0074-7325-13\",\n                \"0074-7327-13\",\n                \"0074-7326-13\",\n
        \               \"0074-6114-13\",\n                \"0074-6114-11\"\n              ],\n
        \             \"unii\": [\n                \"644VL95AO6\"\n              ]\n
        \           }\n          },\n          {\n            \"drugcharacterization\":
        \"2\",\n            \"medicinalproduct\": \"INVEGA\",\n            \"drugindication\":
        \"BIPOLAR DISORDER\",\n            \"activesubstance\": {\n              \"activesubstancename\":
        \"PALIPERIDONE\"\n            },\n            \"openfda\": {\n              \"application_number\":
        [\n                \"NDA021999\"\n       [...]
